esercitazioni/esDTD1.dtd

<!ELEMENT TEI(header, facsimile?, text+)>

<!ELEMENT header(#PCDATA)>
<!ELEMENT facsimile(#PCDATA)>
<!ELEMENT text(#PCDATA)>

<!-- ESERCIZIO 
Definire i seguenti elementi:
-elemento root: TEI
-elementi figli:
    + header (obbligatorio una occorrenza)
    + facsimile (opzionale una occorrenza)
    + text (obbligatorio almeno una occorrenza)
    Tutti i figli hanno un content model testuale -->